:root {
  --bg-color: #0f0f0f;
  --secondary-bg-color: #222222;
  --hover-color: #3f3f3f;
  --font-color: #ffffff;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
