.channelCard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 29rem;
  width: 35.8rem;
  align-items: center;
  padding: 1rem;
}
.channelCard_thumbnail {
  background: none;
  height: 18rem;
  width: 18rem;
  /* object-fit: cover; */
  border-radius: 50%;
}
.channelCard_content_channelName {
  font-size: 1.6rem;
  font-weight: 500;
}
